<%include partials/header%>

<div class="jumbotron">
<table class = "table" style="width:90%">
    <tr>
    <th scope="col">Name</th>
    <th scope="col">1c</th> 
    <th scope="col" >Owner</th>
    <th scope="col">Used By</th>
  </tr>
<%devices.forEach(function(dev){ %>
 
 <tr>
    <td><%=dev.name%></td>
    <td><%=dev.onecno%></td> 
    <td><%=dev.owner%></td>
    <td><%=dev.usedby.name%></td>
    <form method="DELETE">
    <td><button class="btn btn-primary btn-sm" method="DELETE" type="submit" formaction="/devices/delete/<%=dev._id%>" >Delete</button></td></form>
  </tr>


<%})%>
</table>
</div>
<div class="jumbotron">
    <form method="GET">
    <button class="btn btn-primary btn-lg" method="GET" type="submit" formaction="/devices/new" >Add a Device</button>
    </form>
</div>    

<%include partials/footer%>